//Nav styles
.button {
    margin: 0!important;
}

.NavBar {
    background: rgb(68, 184, 166);
    width: 100%;
    display: inline-block;
}

.rant {
    border: 1px solid black;
    margin-bottom: .5rem; 
}

.search-input {
    display: inline-block!important;
    width: 50%!important;
    margin-left: 1rem!important;
    margin-right: 1rem!important;
}

// Home Styles
.welcome {
    margin-top: 3rem;
}

.home-rants {
    border: 2px solid rgb(25, 25, 77);
}

// Log In page styles
.LogIn {
    margin: 5rem 5rem; 
}

.login-input {
    width: 50%!important;
}

// Sign up page styles 
.SignUp {
    margin: 5rem 5rem; 
}

.signup-input {
    width: 50%!important;
}