$tealColor: rgb(68, 184, 166);
$darkBlue: rgb(25, 25, 77);
$bgColor: rgb(122, 122, 122);

.App {
    background: $bgColor;
    height: 100%!important;
}

.text {
    color: $darkBlue;
}

//Nav styles
.button {
    margin: 0!important;
}

.NavBar {
    background: $tealColor;
    width: 100%;
    display: inline-block;
}

.rant {
    margin-top: 1rem!important;
    border: 5px solid $darkBlue;
    margin-bottom: .5rem; 
    border-radius: 10px;
}

.search-input {
    display: inline-block!important;
    width: 50%!important;
    margin-left: 1rem!important;
    margin-right: 1rem!important;
}

// Home Styles
.Home {
    background: $bgColor;
}

.welcome {
    margin-top: 3rem;
}

.welcome-header {
    color: $darkBlue;
}

.search-div {
    margin-top: 1rem; 
    text-align: center;
}

.home-explore-div {
    text-align: center;
    margin: 1rem 0!important; 
}

.rant-action-btns {
    margin: 1rem 0!important;
    text-align: center;
}

.explore-btn {
    margin-top: 1rem;
}

.rant-content {
    padding-right: 1rem!important
}

// Log In page styles
.LogIn {
    margin: 5rem 5rem; 
}

.login-input {
    width: 50%!important;
}

// Sign up page styles 
.SignUp {
    margin: 5rem 5rem; 
}

.signup-input {
    width: 50%!important;
}

//Show Rants Page styles
.clear-search-btn {
    margin-left: 1rem; 
}

// New rant page styles 
.NewRant {
    margin-top: 2rem;
}

.rant-form {
    width: 50%;
    display: inline-block;
    margin-left: 8rem;
}

.rant-body {
    width: 100%;
    height: 15rem;
}

.new-rant-submit {
    text-align: center;
    margin-top: 2rem; 
}

.gif-search-div {
    margin: 1rem 0!important;
}

.gif-input {
    padding-left: -1rem;
}

.add-rant{
    background: $tealColor!important;
}

.gif-selector {
    width: 100%;
}

// Profile page styles
.Profile {
    background: $bgColor;
}

.comment {
    border-bottom: 2px solid black; 
}

.comments {
    background: lightgray;
    margin-top: 1rem!important;
    margin-left: 5rem!important;
    max-width: none!important;
    width: 80%!important;
    border: 4px solid $darkBlue;
}

.edit-profile-btn {
    text-align: right; 
    margin-top: 1rem;
}

.new-rant-btn {
    text-align: center;
    margin: 2rem 0!important;
}

.view-btn {
    text-align: right;
}

.rant-header, .likes-comments {
    text-align: center;
}

.thumbnail-cont {
    text-align: center;
    width: 200px;
    height: auto;
    border: 5px solid $tealColor;
    border-radius: 5px;
}

.thumb-body {
    margin-left: 5rem!important;
    max-width: none!important;
    width: auto!important;
}



.ShowRants {
    background: $bgColor;
}

.first-explore {
    width: 100%;
    text-align: center;
}

.explore-right {
    margin-top: 1rem!important;
    text-align: right;
}

.recent-rants-heading {
    margin-top: 1rem!important;
}

hr {
    background-color: $darkBlue!important;
}

.bottom-explore {
    margin-bottom: 2rem!important;
}

.user-rants {
    margin-bottom: 2rem!important;
}