$ranterBlue: rgb(44,83,158);
$ranterOrange: rgb(255,116,0);

.App {
    height: 100%!important;
}

.text {
    color: $ranterBlue;
}

//Nav styles
.button {
    margin: 0!important;
    background-color: $ranterBlue!important;
}

.NavBar {
    width: 100%;
    display: inline-block;
}

.button-group {
    background: $ranterBlue; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
}

.button-group a {
    background: $ranterBlue; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */
    font-weight: 900;
}

.button-group a:hover {
    background: $ranterOrange; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,116,0,1) 0%, rgba(255,116,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,116,0,1) 0%,rgba(255,116,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,116,0,1) 0%,rgba(255,116,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#ff7400',GradientType=0 ); /* IE6-9 */
}

.rant {
    margin-top: 1rem!important;
    border: 5px solid $ranterBlue;
    margin-bottom: .5rem; 
    border-radius: 10px;
}

.search-input {
    display: inline-block!important;
    width: 50%!important;
    margin-left: 1rem!important;
    margin-right: 1rem!important;
}

// Home Styles
// .Home {
//     background: $bgColor;
// }

.welcome {
    margin-top: 3rem;
}

.welcome-header {
    color: $ranterBlue;
}

.search-div {
    margin-top: 1rem; 
    text-align: center;
}

.home-explore-div {
    text-align: center;
    margin: 1rem 0!important; 
}

.rant-action-btns {
    margin: 1rem 0!important;
    text-align: center;
}

.explore-btn {
    margin-top: 1rem;
}

.explore-btn:hover {
    background: $ranterOrange!important;
} 

.rant-content {
    padding-right: 1rem!important
}

// Log In page styles
.LogIn {
    margin: 5rem 5rem; 
}

.login-input {
    width: 50%!important;
}

// Sign up page styles 
.SignUp {
    margin: 5rem 5rem; 
}

.signup-input {
    width: 50%!important;
}

//Show Rants Page styles
.clear-search-btn {
    margin-left: 1rem; 
}

// New rant page styles 
.NewRant {
    margin-top: 2rem;
}

.rant-form {
    width: 50%;
    display: inline-block;
    margin-left: 8rem;
}

.rant-body {
    width: 100%;
    height: 15rem;
}

.new-rant-submit {
    margin-top: 2rem; 
    margin-bottom: 10rem;
    text-align: center;
}

.gif-search-div {
    margin: 1rem 0!important;
}

.gif-input {
    padding-left: -1rem;
}

.add-rant{
    background: $ranterOrange!important;
}

.gif-selector {
    width: 100%;
}

// Profile page styles
.comment {
    border-bottom: 2px solid black; 
}

.comments {
    background: lightgray;
    margin-top: 1rem!important;
    margin-left: 8rem!important;
    max-width: none!important;
    width: 80%!important;
    border: 4px solid $ranterBlue;
}

.edit-profile-btn {
    text-align: right; 
    margin-top: 1rem;
}

.new-rant-btn {
    text-align: right;
    margin: 2rem 0!important;
}

.view-btn {
    text-align: right;
}

.view:hover {
    background: $ranterOrange!important;
}

.rant-header, .likes-comments {
    text-align: center;
}

.thumbnail-cont {
    text-align: center;
    width: 200px;
    height: auto;
    border: 5px solid $ranterOrange;
    border-radius: 5px;
}

.thumb-body {
    margin-left: 5rem!important;
    max-width: none!important;
    width: auto!important;
}

.first-explore {
    width: 100%;
    text-align: center;
}

.explore-right {
    margin-top: 1rem!important;
    text-align: right;
}

.recent-rants-heading {
    margin-top: 1rem!important;
}

hr {
    background-color: $ranterBlue!important;
}

.bottom-explore {
    margin-bottom: 2rem!important;
}

.user-rants {
    margin-bottom: 2rem!important;
}

.delete-btn {
    background: rgb(136, 24, 24)!important;
}

.my-rants {
    margin-top: 2rem;
}

.edit-input {
    width: 50%!important;
}

.center {
    text-align: center; 
}

.rant-delete {
    text-align: right;
    margin-bottom: 5rem;
}

.last-content {
    margin-bottom: 10rem;
}

.top-spacing {
    margin-top: 2rem; 
}

.left-spacing {
    margin-left: 10rem; 
}